In [ ]:
# list comprehension ->快速建立list
[f'{num}號' for num in range(1,51)]

In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
            )
df1

In [ ]:
#從Dataframe取出ndarray
df1.values

In [ ]:
#dataFrame [欄位名稱] subscript
df1['國文'], df1['英文'] # 多個Series為一個dataFrame,series只有index,沒有column

In [5]:
#Series的選取, 使用subscript
#Series [數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_35840/651128822.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    69
2號    98
3號    72
Name: 國文, dtype: int64

In [ ]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

In [ ]:
#dataFrame的subscripts
#dataFrame[欄位名稱,欄位名稱]
df1[['國文','英文']]

In [ ]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值]

In [6]:
#選取1號
#loc[字串]
df1.loc['1號']

國文    54
英文    71
數學    72
地理    63
社會    92
Name: 1號, dtype: int64

In [7]:
#選取1號,2號,3號
#loc[字串,字串]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  地理  社會
1號  54  71  72  63  92
2號  89  89  85  81  80
3號  73  69  79  92  54

In [8]:
#選取前5位
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  54  71  72  63  92
2號  89  89  85  81  80
3號  73  69  79  92  54
4號  86  90  67  65  89
5號  97  92  63  89  66

In [9]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  58  90  59  75  93
47號  81  99  58  70  60
48號  57  96  53  87  77
49號  62  74  73  71  92
50號  75  63  74  66  86