In [ ]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo('AAPL')

In [2]:
[i for i in range(5,10)]

[5, 6, 7, 8, 9]

In [ ]:
all_data = {item:pdr.get_data_yahoo(item) for item in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
{all_data}

In [5]:
test = {item:0 for item in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
for key,value in test.items():
    print(key)
    print(value)

AAPL
0
IBM
0
MSFT
0
GOOG
0

In [6]:
import pandas as pd
pd.DataFrame({key:df['Adj Close'] for key,df in all_data.items()})

                  AAPL         IBM        MSFT        GOOG
Date
1962-01-02         NaN    1.541710         NaN         NaN
1962-01-03         NaN    1.555187         NaN         NaN
1962-01-04         NaN    1.539690         NaN         NaN
1962-01-05         NaN    1.509368         NaN         NaN
1962-01-08         NaN    1.481067         NaN         NaN
...                ...         ...         ...         ...
2024-06-12  213.070007  169.000000  441.059998  179.559998
2024-06-13  214.240005  169.119995  441.579987  176.740005
2024-06-14  212.490005  169.210007  442.570007  178.369995
2024-06-17  216.669998  169.500000  448.369995  178.779999
2024-06-18  214.289993  170.550003  446.339996  176.449997

[15723 rows x 4 columns]

In [62]:
import pandas_datareader.data as pdr
import yfinance as yf
import pandas as pd

#yf.pdr_override()

all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW', '2303.TW', '2454.TW', '2317.TW']}
all_data0 = pd.DataFrame({key:df['Adj Close'] for key,df in all_data.items()})
all_data0.columns = ['台積電', '聯電', '聯發科', '鴻海']
all_data0

ModuleNotFoundError: No module named 'pandas_datareader'