In [6]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo('AAPL')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86172500
2024-06-21,210.389999,211.889999,207.110001,207.490005,207.490005,241805100

In [7]:
[i for i in range(5,10)]

[5, 6, 7, 8, 9]

In [9]:
all_data = {item:pdr.get_data_yahoo(item) for item in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [ ]:
test = {item:0 for item in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
for key,value in test.items():
    print(key)
    print(value)

AAPL
0
IBM
0
MSFT
0
GOOG
0

In [ ]:
import pandas as pd
pd.DataFrame({key:df['Adj Close'] for key,df in all_data.items()})

                  AAPL         IBM        MSFT        GOOG
Date
1962-01-02         NaN    1.541710         NaN         NaN
1962-01-03         NaN    1.555187         NaN         NaN
1962-01-04         NaN    1.539690         NaN         NaN
1962-01-05         NaN    1.509368         NaN         NaN
1962-01-08         NaN    1.481067         NaN         NaN
...                ...         ...         ...         ...
2024-06-12  213.070007  169.000000  441.059998  179.559998
2024-06-13  214.240005  169.119995  441.579987  176.740005
2024-06-14  212.490005  169.210007  442.570007  178.369995
2024-06-17  216.669998  169.500000  448.369995  178.779999
2024-06-18  214.289993  170.550003  446.339996  176.449997

[15723 rows x 4 columns]

In [10]:
import pandas_datareader.data as pdr
import yfinance as yf
import pandas as pd

#yf.pdr_override()

all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW', '2303.TW', '2454.TW', '2317.TW']}
all_data0 = pd.DataFrame({key:df['Adj Close'] for key,df in all_data.items()})
all_data0.columns = ['台積電', '聯電', '聯發科', '鴻海']
all_data0

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

              台積電         聯電     聯發科          鴻海
Date
1993-01-05    NaN        NaN     NaN    0.409765
1993-01-06    NaN        NaN     NaN    0.402878
1993-01-07    NaN        NaN     NaN    0.401157
1993-01-08    NaN        NaN     NaN    0.389105
1993-01-11    NaN        NaN     NaN    0.391687
...           ...        ...     ...         ...
2024-06-18  943.0  56.799999  1405.0  198.500000
2024-06-19  981.0  56.799999  1485.0  203.000000
2024-06-20  981.0  57.500000  1500.0  217.500000
2024-06-21  970.0  57.700001  1490.0  212.000000
2024-06-24  940.0  56.799999  1410.0  206.000000

[7923 rows x 4 columns]